openapi: 3.0.1
info:
  title: Funnelback Courses
  description: 'This defines the University of York Course Search powered by Funnelback. This is distinct from the Courses API, which has a separate specification. If you are unable to make API calls from here, copy & paste the URL into a new browser tab.'
  contact:
    email: esg-teaching-and-learning-group@york.ac.uk
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
externalDocs:
  description: Learn more about Funnelback search
  url: https://docs.funnelback.com/
servers:
  - url: https://york.funnelback.co.uk/
    description: Used for Live and Test collections
tags:
  - name: search
    description: The search for courses
paths:
  /search:
    get:
      tags:
        - search
      summary: Search for a course
      operationId: search
      parameters:
        - name: query
          in: query
          description: The name of course to search for/query string.
          required: true
          explode: true
          schema:
            type: string
            example: History
        - name: collection
          in: query
          description: Which Funnelback collection to search. `york-uni-courses` contains course results.
          required: true
          schema:
            type: string
            example: york-uni-courses
            enum:
              - york-uni-courses
        - name: profile
          in: query
          description: The Funnelback profile to use. `_default` is always present, `_default_preview` is used for previewing results.
          required: true
          schema:
            type: string
            example: _default_preview
        - name: form
          in: query
          description: This matches up to a template in the Funnelback config, and defines the data format of results.
          required: true
          schema:
            type: string
            example: course-search
        - name: num_ranks
          in: query
          description: The number of results in the dataset to return from the search. The next page of results can be retrieved by using the `start_rank` parameter.
          required: false
          schema:
            type: integer
            example: 25
            default: 10
        - name: start_rank
          in: query
          description: "The position in the dataset to return results from. Used in combination with `num_ranks` to paginate a dataset. Note: possible values start from 1."
          required: false
          schema:
            type: integer
            example: 11
            default: 1
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Results'
        400:
          description: Invalid value
          content: {}
components:
  schemas:
    Results:
      type: object
      properties:
        numberOfMatches:
          type: integer
        courses:
          type: array
          items:
            $ref: '#/components/schemas/Course'

    Course:
      type: object
      properties:
        title:
          type: string
          nullable: true
          example: History (BA) - Undergraduate
        liveUrl:
          type: string
          nullable: true
          example: https://www.york.ac.uk/study/undergraduate/courses/ba-history/
        award:
          type: string
          nullable: true
          example: BA (Hons)
        department:
          type: string
          nullable: true
          example: Department of Economics and Related Studies, Department of History
        level:
          type: string
          nullable: true
          example: undergraduate
          enum:
            - undergraduate
            - postgraduate
        length:
          type: string
          nullable: true
          example: 3 years full-time
        typicalOffer:
          type: string
          example: AAA
        yearOfEntry:
          type: string
          nullable: true
          example: 2021/22
        distanceLearning:
          type: string
          nullable: true
          example: No
          enum:
            - Yes
            - No
        summary:
          type: string
          nullable: true
          example: Learn how studying the past can help us predict market futures
        imageUrl:
          type: string
          nullable: true
          example: https://www.york.ac.uk/media/study/courses/undergraduate/history/hero-history-economics-ba-1160.jpg
        ucasCode:
          type: string
          nullable: true
          example: VL11
