openapi: 3.0.1
info:
  title: Funnelback Courses
  description: 'This defines the University of York Course Search powered by Funnelback. This is distinct from the Courses API, which has a separate specification. If you are unable to make API calls from here, copy & paste the URL into a new browser tab.'
  contact:
    email: esg-teaching-and-learning-group@york.ac.uk
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
externalDocs:
  description: Learn more about Funnelback search
  url: https://docs.funnelback.com/
servers:
  - url: http://york.funnelback.co.uk/s/
    description: Used for Live and Test collections
tags:
  - name: search
    description: The search for courses
paths:
  /search.json:
    get:
      tags:
        - search
      summary: Search for a course
      operationId: search
      parameters:
        - name: query
          in: query
          description: name of course to search for/query string
          required: true
          explode: true
          schema:
            type: string
            example: History
        - name: collection
          in: query
          description: Which Funnelback collection to search. 'york-uni-web' contains live Yorkweb pages, including course pages.
          required: true
          schema:
            type: string
            example: york-uni-web
            enum:
              - york-uni-web
        - name: profile
          in: query
          required: true
          schema:
            type: string
            example: _default_preview
        - name: smeta_contentType
          in: query
          description: What sort of data to request. Must be 'course'.
          required: true
          schema:
            type: string
            example: course
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        400:
          description: Invalid value
          content: {}
components:
  schemas:
    Course:
      type: object
      properties:
        title:
          type: string
          example: History (BA) - Undergraduate
        liveUrl:
          type: string
          example: https://www.york.ac.uk/study/undergraduate/courses/ba-history/
        award:
          type: string
          example: BA (Hons)
        department:
          type: string
          example: Department of Economics and Related Studies, Department of History
        level:
          type: string
          example: undergraduate
          enum:
            - undergraduate
            - postgraduate
        length:
          type: string
          example: 3 years full-time
        typicalOffer:
          type: string
          example: AAA
        yearOfEntry:
          type: string
          example: 2021/22
        distanceLearning:
          type: string
          example: No
          enum:
            - Yes
            - No
        summary:
          type: string
          example: Learn how studying the past can help us predict market futures
        imageUrl:
          type: string
          example: https://www.york.ac.uk/media/study/courses/undergraduate/history/hero-history-economics-ba-1160.jpg
        ucasCode:
          type: string
          example: VL11
